<div class="lesson-held">
    <div class="lesson-held-content">
        <div class="outer">
            <div class="inner">
                <div class="percentage text-center">
                    <h2>60%</h2>
                    <p>Dərs keçirilib</p>
                </div>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="290px" height="290px">
            <defs>
                <linearGradient id="GradientColor">
                    <stop offset="0%" stop-color="#e91e63" />
                    <stop offset="100%" stop-color="#673ab7" />
                </linearGradient>
            </defs>
            <circle cx="148" cy="144" r="120" stroke-linecap="round" />
            <!-- <circle cx="147" cy="160" r="120" stroke-linecap="round" /> -->
        </svg>
    </div>
</div>