$primary-color: #3d41d7;
$secondary-color: #7c5be0;
$secondary-color-dark: #5353ca;
$primary-light-color: #f6f8ff;
$secondary-light-color: #d3d3fd;
$color-white: #ffffff;
$secondary-font-color: #4d4b4b;
$gray-font-color: #979797;
$light-font-color: #797ce3;
$orange-color: #ff8831;
