<div class="schedule-day">
    <app-schedule-header title="Alt Həftə" [isUppercase]="true" changeActionTitle="27 sen - 31 sen">
    </app-schedule-header>
    <div class="schedule-table">
        <table>
            <thead>
                <tr>
                    <th class="text-left">Saat</th>
                    <th>
                        <h2> Bazar ertəsi</h2>
                        <p>27 sen.</p>
                    </th>
                    <th>
                        <h2>Çərşənbə axşamı</h2>
                        <p>28 sen.</p>
                    </th>
                    <th>
                        <h2> Çərşənbə </h2>
                        <p>29 sen.</p>
                    </th>
                    <th>
                        <h2> Cümə axşamı </h2>
                        <p> 30 sen. </p>
                    </th>
                    <th>
                        <h2>Cümə </h2>
                        <p> 31 sen. </p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="content">
                            <p>08:30</p>
                        </div>
                    </td>
                    <td>
                        <div class="content d-flex justify-between align-baseline">
                            <div class="content-type-lesson">
                                <p>Riyaziyyat</p>
                                <span>mühazirə</span>
                            </div>
                            <p> Kor. 1 / aud 163
                        </div>
                    </td>
                    <td>
                        <div class="content d-flex justify-between align-center">
                            <div class="content-type-lesson">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="content d-flex justify-between align-baseline">
                            <div class="content-type-lesson">
                                <p>Riyaziyyat</p>
                                <span>mühazirə</span>
                            </div>
                            <p> Kor. 1 / aud 163
                        </div>
                    </td>
                    <td>
                        <div class="content d-flex justify-between align-center">
                            <div class="content-type-lesson">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="content d-flex justify-between align-center">
                            <div class="content-type-lesson">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="content">
                            <p>08:30</p>
                        </div>
                    </td>
                    <td>
                        <div class="content d-flex justify-between align-baseline">
                            <div class="content-type-lesson">
                                <p>Riyaziyyat</p>
                                <span>mühazirə</span>
                            </div>
                            <p> Kor. 1 / aud 163
                        </div>
                    </td>
                    <td>
                        <div class="content d-flex justify-between align-center">
                            <div class="content-type-lesson">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="content d-flex justify-between align-baseline">
                            <div class="content-type-lesson">
                                <p>Riyaziyyat</p>
                                <span>mühazirə</span>
                            </div>
                            <p> Kor. 1 / aud 163
                        </div>
                    </td>
                    <td>
                        <div class="content d-flex justify-between align-center">
                            <div class="content-type-lesson">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="content d-flex justify-between align-center">
                            <div class="content-type-lesson">
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>