@import "/src/assets/scss/variables";

.change-schedule-actions {
  column-gap: 5px;
  button {
    font-size: 16px;
    color: $primary-color;
    text-transform: uppercase;
    background-color: #e7ebf8;
    padding-block: 7px;
    font-weight: 500;
    &:first-child {
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;
    }
    &:last-child {
      border-top-right-radius: 100px;
      border-bottom-right-radius: 100px;
    }
    &:first-child,
    &:last-child {
      padding-inline: 30px;
    }
    &:nth-child(2) {
      padding-inline: 13px;
    }
  }
  .active {
    background-color: $primary-color;
    color: $color-white;
  }
}
