<div class="schedule-month">
    <app-schedule-header title="2021- ci il" changeActionTitle="Sentyabr" [isUppercase]="false"></app-schedule-header>

    <div class="schedule-table">
        <table>
            <thead>
                <tr>
                    <th class="text-left">Həftə</th>
                    <th>Bazar ertəsi</th>
                    <th>Çərşənbə axşamı</th>
                    <th>Çərşənbə</th>
                    <th>Cümə axşamı</th>
                    <th>Cümə</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="week">Alt Həftə</td>
                    <td>
                        <div class="date">
                            <h4></h4>
                        </div>
                        <div class="content"></div>
                    </td>
                    <td>
                        <div class="date">
                            <h4></h4>
                        </div>
                    </td>
                    <td>
                        <div class="date">
                            <h4>1 sentyabr</h4>
                        </div>
                        <div class="content d-flex justify-between align-center">
                            <p>Riyaziyyat</p>
                            <p>-</p>
                            <p>10:15</p>
                        </div>
                        <div class="content d-flex justify-between align-center">
                            <p>Kimya</p>
                            <p>-</p>
                            <p>10:15</p>
                        </div>
                    </td>
                    <td>
                        <div class="date">
                            <h4>1 sentyabr</h4>
                        </div>
                        <div class="content d-flex justify-between align-center">
                            <p>Riyaziyyat</p>
                            <p>-</p>
                            <p>10:15</p>
                        </div>
                        <div class="content d-flex justify-between align-center">
                            <p>Riyaziyyat</p>
                            <p>-</p>
                            <p>10:15</p>
                        </div>
                    </td>
                    <td>
                        <div class="date">
                            <h4>1 sentyabr</h4>

                        </div>
                        <div class="content d-flex justify-between align-center">
                            <p>Riyaziyyat</p>
                            <p>-</p>
                            <p>10:15</p>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td class="week">Üst Həftə</td>
                    <td>
                        <div class="date">
                            <h4>6 Sentyabr</h4>
                        </div>
                        <div class="content d-flex justify-between align-center">
                            <p>Fizika/lab.</p>
                            <p>-</p>
                            <p>08:30</p>
                        </div>
                    </td>
                    <td>
                        <div class="date">
                            <h4>6 Sentyabr</h4>
                        </div>
                        <div class="content d-flex justify-between align-center">
                            <p>Fizika/lab.</p>
                            <p>-</p>
                            <p>08:30</p>
                        </div>
                    </td>
                    <td>
                        <div class="date">
                            <h4>1 sentyabr</h4>
                        </div>
                        <div class="content d-flex justify-between align-center">
                            <p>Riyaziyyat</p>
                            <p>-</p>
                            <p>10:15</p>
                        </div>
                        <div class="content d-flex justify-between align-center">
                            <p>Kimya</p>
                            <p>-</p>
                            <p>10:15</p>
                        </div>
                    </td>
                    <td>
                        <div class="date">
                            <h4>1 sentyabr</h4>
                        </div>
                        <div class="content d-flex justify-between align-center">
                            <p>Riyaziyyat</p>
                            <p>-</p>
                            <p>10:15</p>
                        </div>
                        <div class="content d-flex justify-between align-center">
                            <p>Riyaziyyat</p>
                            <p>-</p>
                            <p>10:15</p>
                        </div>
                    </td>
                    <td>
                        <div class="date">
                            <h4>1 sentyabr</h4>

                        </div>
                        <div class="content d-flex justify-between align-center">
                            <p>Riyaziyyat</p>
                            <p>-</p>
                            <p>10:15</p>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td class="week">Üst Həftə</td>
                    <td>
                        <div class="date">
                            <h4>6 Sentyabr</h4>
                        </div>
                        <div class="content d-flex justify-between align-center">
                            <p>Fizika/lab.</p>
                            <p>-</p>
                            <p>08:30</p>
                        </div>
                    </td>
                    <td>
                        <div class="date">
                            <h4>6 Sentyabr</h4>
                        </div>
                        <div class="content d-flex justify-between align-center">
                            <p>Fizika/lab.</p>
                            <p>-</p>
                            <p>08:30</p>
                        </div>
                    </td>
                    <td>
                        <div class="date">
                            <h4>1 sentyabr</h4>
                        </div>
                        <div class="content d-flex justify-between align-center">
                            <p>Riyaziyyat</p>
                            <p>-</p>
                            <p>10:15</p>
                        </div>
                        <div class="content d-flex justify-between align-center">
                            <p>Kimya</p>
                            <p>-</p>
                            <p>10:15</p>
                        </div>
                    </td>
                    <td>
                        <div class="date">
                            <h4>1 sentyabr</h4>
                        </div>
                        <div class="content d-flex justify-between align-center">
                            <p>Riyaziyyat</p>
                            <p>-</p>
                            <p>10:15</p>
                        </div>
                        <div class="content d-flex justify-between align-center">
                            <p>Riyaziyyat</p>
                            <p>-</p>
                            <p>10:15</p>
                        </div>
                    </td>
                    <td>
                        <div class="date">
                            <h4>1 sentyabr</h4>

                        </div>
                        <div class="content d-flex justify-between align-center">
                            <p>Riyaziyyat</p>
                            <p>-</p>
                            <p>10:15</p>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td class="week">Alt Həftə</td>
                    <td>
                        <div class="date">
                            <h4></h4>
                        </div>
                        <div class="content"></div>
                    </td>
                    <td>
                        <div class="date">
                            <h4></h4>
                        </div>
                    </td>
                    <td>
                        <div class="date">
                            <h4>1 sentyabr</h4>
                        </div>
                        <div class="content d-flex justify-between align-center">
                            <p>Riyaziyyat</p>
                            <p>-</p>
                            <p>10:15</p>
                        </div>
                        <div class="content d-flex justify-between align-center">
                            <p>Kimya</p>
                            <p>-</p>
                            <p>10:15</p>
                        </div>
                    </td>
                    <td>
                        <div class="date">
                            <h4>1 sentyabr</h4>
                        </div>
                        <div class="content d-flex justify-between align-center">
                            <p>Riyaziyyat</p>
                            <p>-</p>
                            <p>10:15</p>
                        </div>
                        <div class="content d-flex justify-between align-center">
                            <p>Riyaziyyat</p>
                            <p>-</p>
                            <p>10:15</p>
                        </div>
                    </td>
                    <td>
                        <div class="date">
                            <h4>1 sentyabr</h4>

                        </div>
                        <div class="content d-flex justify-between align-center">
                            <p>Riyaziyyat</p>
                            <p>-</p>
                            <p>10:15</p>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td class="week">Üst Həftə</td>
                    <td>
                        <div class="date">
                            <h4>6 Sentyabr</h4>
                        </div>
                        <div class="content d-flex justify-between align-center">
                            <p>Fizika/lab.</p>
                            <p>-</p>
                            <p>08:30</p>
                        </div>
                    </td>
                    <td>
                        <div class="date">
                            <h4>6 Sentyabr</h4>
                        </div>
                        <div class="content d-flex justify-between align-center">
                            <p>Fizika/lab.</p>
                            <p>-</p>
                            <p>08:30</p>
                        </div>
                    </td>
                    <td>
                        <div class="date">
                            <h4>1 sentyabr</h4>
                        </div>
                        <div class="content d-flex justify-between align-center">
                            <p>Riyaziyyat</p>
                            <p>-</p>
                            <p>10:15</p>
                        </div>
                        <div class="content d-flex justify-between align-center">
                            <p>Kimya</p>
                            <p>-</p>
                            <p>10:15</p>
                        </div>
                    </td>
                    <td>
                        <div class="date">
                            <h4>1 sentyabr</h4>
                        </div>
                        <div class="content d-flex justify-between align-center">
                            <p>Riyaziyyat</p>
                            <p>-</p>
                            <p>10:15</p>
                        </div>
                        <div class="content d-flex justify-between align-center">
                            <p>Riyaziyyat</p>
                            <p>-</p>
                            <p>10:15</p>
                        </div>
                    </td>
                    <td>
                        <div class="date">
                            <h4>1 sentyabr</h4>

                        </div>
                        <div class="content d-flex justify-between align-center">
                            <p>Riyaziyyat</p>
                            <p>-</p>
                            <p>10:15</p>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>