@import "/src/assets/scss/variables";
header {
  margin-bottom: 44px;
  .header-top {
    margin-top: 20px;
    margin-bottom: 12px;
    .header-top-logo {
      a {
        font-size: 17px;
        font-weight: 600;
        color: #000;
        &:visited {
          color: #000;
        }
      }
    }
  }
  .header-nav {
    padding: 7px 23px;
    .faculty {
      flex-basis: 20%;
    }
    .navigations {
      .active {
        font-weight: 700;
      }
      a {
        font-size: 13px;
        font-weight: 400;
        &:not(:last-child) {
          border-right: 1px solid #fbfbfb;
          padding-right: 25px;
        }
      }
    }
    .user-info-area {
      .user-info {
        .user-name {
          background-color: $color-white;
          color: $secondary-font-color;
          font-size: 13px;
          padding: 6px 14px;
          margin-right: 12px;
          letter-spacing: 2px;
        }
        .user-pp-notification {
          column-gap: 7px;
          .notification {
            position: relative;
            margin-right: 10px;
            .notification-count {
              position: absolute;
              width: 12px;
              top: -7px;
              height: 12px;
              right: -7px;
              background-color: $orange-color;
              border-radius: 50%;
              padding: 3px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $color-white;
              font-weight: 700;
              font-size: 11px;
            }
          }
          .menu-btn {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and(max-width:1368px) {
  .navigations {
    display: none !important;
  }
  .menu-btn {
    display: block !important;
  }
}
