<header>
    <div class="container">
        <div class="header-top d-flex justify-between align-center">
            <div class="header-top-logo d-flex align-center column-gap-15">
                <img src="assets/images/layout/logo.svg" alt="logo">
                <a [routerLink]="['']" class="logo-title">
                    <h2 class="font-size-17">Bakı Dövlət Universiteti</h2>
                    <h4 class="font-size-14 text-color-primary font-500 font-italic">Təhsilin Elektron İdarə Olunması
                        Sistemi</h4>
                </a>
            </div>
            <div class="header-top-signature d-flex align-center column-gap-15">
                <div class="signature-text font-italic">
                    <h4 class="font-size-16 font-300">“Təhsil millətin gələcəyidir”</h4>
                    <h6 class="font-size-14 font-300">Ümummilli Lider Heydər Əliyev</h6>
                </div>
                <img src="assets/images/layout/signature.svg" alt="signature">
            </div>
        </div>
        <div class="header-nav d-flex justify-between align-center bg-color-primary radius-10 text-color-white">
            <div class="faculty">
                <h2 class="font-size-16 font-italic font-300">Kompüter elimləri</h2>
            </div>
            <nav class="navigations d-flex column-gap-20 align-center">
                <a [routerLink]="['']" class="active">Tədris</a>
                <a [routerLink]="['schedule']">Cədvəl</a>
                <a href="#">Hesabatlar</a>
                <a href="#">Təkliflər</a>
                <a [routerLink]="['appeals']">Müraciətlər</a>
                <a href="#">Kitabxana</a>
                <a href="#">Ödəmələr</a>
            </nav>
            <div class="user-info-area d-flex align-center justify-between">
                <div class="user-info d-flex align-center">
                    <div class="user-name radius-20">
                        <h4>Məmmədzadə Məmməd</h4>
                    </div>
                    <div class="user-pp-notification d-flex align-center">
                        <img src="assets/images/layout/pp.svg" alt="">
                        <button class="notification">
                            <img src="assets/images/icons/bell.svg" alt="">
                            <div class="notification-count">1</div>
                        </button>
                        <button><img src="assets/images/icons/setting.svg" alt=""></button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>