<div class="card radius-20" style="background-image: url('assets/images/home/card-bg.svg');">
    <div class="card-title-area">
        <div class="card-title">
            <h2
                class="text-capitalize text-center font-size-16 font-500 d-flex align-center justify-center column-gap-20">
                Müraciət açıqdır
                <img src="assets/images/icons/status-green.svg" alt="">
            </h2>
        </div>
    </div>
    <div class="card-body">
        <div class="card-body-item">
            <h6>Smester</h6>
            <p>Payiz</p>
        </div>
        <div class="card-body-item">
            <h6>Tədris ili</h6>
            <p>2019 / 2020</p>
        </div>
    </div>
    <div class="card-footer">
        <p>21.07.2020 - 21.09.2020</p>
        <a [routerLink]="['/appeals/lesson-appeal/appeal']">Müraciət et</a>
    </div>
</div>