.card {
  .card-footer {
    margin-inline: 0;
    padding-inline: 26px;
    text-align: center;
    padding-top: 100px;
    p {
      margin-bottom: 11px;
      color: #979797;
    }
    a {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
}
