<div class="main-lessons">
    <div class="lesson-card">
        <div class="lesson-card-body">
            <div class="lesson-card-item">
                <div class="lesson-card-item-header">
                    <h2>Əsas fənnlər</h2>
                </div>
                <ol>
                    <li>
                        <div class="lesson-card-item-content">
                            <p>Elektronika - 3 Kredit</p>
                            <button>
                                <img src="assets/images/icons/checkbox.svg" alt="checkbox">
                            </button>
                        </div>
                    </li>
                    <li>
                        <div class="lesson-card-item-content">
                            <p>Elektronika - 3 Kredit</p>
                            <button>
                                <img src="assets/images/icons/checkbox.svg" alt="checkbox">
                            </button>
                        </div>
                    </li>
                    <li>
                        <div class="lesson-card-item-content">
                            <p>Elektronika - 3 Kredit</p>
                            <button>
                                <img src="assets/images/icons/checkbox.svg" alt="checkbox">
                            </button>
                        </div>
                    </li>
                </ol>
            </div>
            <div class="lesson-card-item">
                <div class="lesson-card-item-header">
                    <h2>Yazıldığım fənnlər</h2>
                </div>
                <ol>
                    <li>
                        <div class="lesson-card-item-content">
                            <p>Alqoritimlər nəzəriyəsi - 3 Kredit</p>
                            <button><img src="assets/images/icons/x-icon.svg" alt="x-icon"></button>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
        <div class="lesson-card-footer d-flex align-center justify-between">
            <p>Cəmi: <span>10 Kredit</span></p>
            <app-button title="Təsdiq et"></app-button>
        </div>
    </div>
</div>