@import "/src/assets/scss/variables";

.lesson-activities {
  padding: 21px 41px;
  margin-bottom: 50px;
  .table-info {
    &,
    p {
      column-gap: 8px;
    }
    p {
      color: $primary-color;
      &:last-child {
        color: $orange-color;
      }
    }
    span {
      color: #6d6d6d;
    }
  }
}
