<div class="lesson-activities radius-20 bg-img-default"
    style="background-image: url('assets/images/lesson-info/lesson-activities-bg.svg');">
    <app-main-title title="DƏRS FƏALİYYƏTİ" point="8" pointPercent="14"></app-main-title>
    <div class="common-table">
        <table>
            <thead>
                <tr>
                    <th> Mövzunun adı</th>
                    <th>Dərs növü</th>
                    <th>Tarix / Saat </th>
                    <th>Auditoriya</th>
                    <th>Göstərici</th>
                    <th>Elektron materiallar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Primitiv rekursiv funksiya. Müxtəlif pilləli ...</td>
                    <td>Müh.</td>
                    <td>08.06.21 / 12:00</td>
                    <td>No 112</td>
                    <td>i.e</td>
                    <td>Verilənlərin axtarılması...pdf</td>
                </tr>
                <tr>
                    <td>Primitiv rekursiv funksiya. Müxtəlif pilləli ...</td>
                    <td>Müh.</td>
                    <td>08.06.21 / 12:00</td>
                    <td>No 112</td>
                    <td>i.e</td>
                    <td>Verilənlərin axtarılması...pdf</td>
                </tr>
                <tr>
                    <td>Primitiv rekursiv funksiya. Müxtəlif pilləli ...</td>
                    <td>Müh.</td>
                    <td>08.06.21 / 12:00</td>
                    <td>No 112</td>
                    <td><span>Distant</span></td>
                    <td>Verilənlərin axtarılması...pdf</td>
                </tr>
                <tr>
                    <td>Primitiv rekursiv funksiya. Müxtəlif pilləli ...</td>
                    <td>Müh.</td>
                    <td>08.06.21 / 12:00</td>
                    <td>No 112</td>
                    <td>i.e</td>
                    <td>Verilənlərin axtarılması...pdf</td>
                </tr>
                <tr>
                    <td>Primitiv rekursiv funksiya. Müxtəlif pilləli ...</td>
                    <td>Müh.</td>
                    <td>08.06.21 / 12:00</td>
                    <td>No 112</td>
                    <td>i.e</td>
                    <td>Verilənlərin axtarılması...pdf</td>
                </tr>
                <tr>
                    <td>Primitiv rekursiv funksiya. Müxtəlif pilləli ...</td>
                    <td>Müh.</td>
                    <td>08.06.21 / 12:00</td>
                    <td>No 112</td>
                    <td>i.e</td>
                    <td>Verilənlərin axtarılması...pdf</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-info d-flex flex-end">
        <p class="d-flex align-center">
            <img src="assets/images/icons/blue-info.svg" alt="">
            Davamiyyət
        </p>
        <span>/</span>
        <p class="d-flex align-center">
            <img src="assets/images/icons/orange-info.svg" alt="">
            Aktivlik
        </p>
    </div>
</div>