<div class="document-appeal radius-20 bg-img-default">
    <div class="document-appeal-header mb-10 d-flex justify-between align-center">
        <app-main-title class="flex-basis-100" title="Müraciətlərim" [isMargin]="false" [isUppercase]="false">
        </app-main-title>
        <app-button class="flex-basis-100 d-flex flex-end" title="Yeni müraciət"></app-button>
    </div>
    <div class="common-table">
        <table>
            <thead>
                <tr>
                    <th> Müraciət növü</th>
                    <th>Göndərildiyi tarix</th>
                    <th>Status </th>
                    <th>-</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Təhsil almaq barədə</td>
                    <td>2021 / 11 May / 12:00</td>
                    <td>
                        <p class="d-flex align-center justify-center column-gap-20">
                            Göndərildi
                            <img src="assets/images/icons/blue-info.svg" alt="">
                        </p>
                    </td>
                    <td><span>
                            <button (click)="showModal()">
                                Nəzər yetir
                            </button>
                        </span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>