<div class="card radius-20" style="background-image: url('assets/images/home/card-bg.svg');">
    <div class="card-title-area">
        <div class="card-title">
            <h2 class="text-uppercase text-center font-size-16 font-500">FƏNN BALI</h2>
        </div>
    </div>
    <div class="card-body">
        <div class="card-body-item">
            <h6>Davamiyyət</h6>
            <p>8</p>
        </div>
        <div class="card-body-item">
            <h6>Aktivlik</h6>
            <p>14</p>
        </div>
        <div class="card-body-item">
            <h6>Kollokuium</h6>
            <p>8</p>
        </div>
        <div class="card-body-item">
            <h6>Sərbəst iş</h6>
            <p>8</p>
        </div>
        <div class="card-body-item">
            <h6>İmtahan</h6>
            <p>8</p>
        </div>
    </div>
    <div class="card-footer d-flex align-center">
        <h6 class="text-uppercase">Yekun</h6>
        <span class="total">40</span>
    </div>
</div>