<div class="schedule-day">
    <app-schedule-header title="Çərşənbə Axşamı" [isUppercase]="true" changeActionTitle="28 Sentyabr">
    </app-schedule-header>
    <div class="schedule-table">
        <table>
            <thead>
                <tr>
                    <th class="text-left">Saat</th>
                    <th>Fənn</th>
                    <th>Dərsin növü</th>
                    <th>Auditoriya</th>
                    <th>Müəllim</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="content">
                            <p>08:30</p>
                        </div>
                    </td>
                    <td>
                        <div class="content"></div>
                    </td>
                    <td>
                        <div class="content"></div>
                    </td>
                    <td>
                        <div class="content"></div>
                    </td>
                    <td>
                        <div class="content"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="content">
                            <p>08:30</p>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <p>Fizika</p>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <p>Məşqələ</p>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <span>Kor. 1 / aud 111</span>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <span>Həsənova Təranə</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="content">
                            <p>08:30</p>
                        </div>
                    </td>
                    <td>
                        <div class="content"></div>
                    </td>
                    <td>
                        <div class="content"></div>
                    </td>
                    <td>
                        <div class="content"></div>
                    </td>
                    <td>
                        <div class="content"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="content">
                            <p>08:30</p>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <p>Fizika</p>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <p>Məşqələ</p>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <span>Kor. 1 / aud 111</span>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                            <span>Həsənova Təranə</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>