<div class="schedule-day">
    <div class="schedule-header">
        <div class="d-flex justify-between align-center">
            <app-main-title [isMargin]="false" [isUppercase]="true" class="flex-basis-100" title="Çərşənbə Axşamı">
            </app-main-title>
            <div class="change-actions d-flex align-center flex-basis-100 justify-center">
                <button (click)="previousDate()">
                    <img src="assets/images/icons/left-arrow.svg" alt="left-arrow">
                </button>
                <h2>{{day}}</h2>
                <button (click)="nextDate()">
                    <img src="assets/images/icons/right-arrow.svg" alt="left-arrow">
                </button>
            </div>
            <app-schedule-header class="flex-basis-100">
            </app-schedule-header>
        </div>
    </div>

    <div class="schedule-table">
        <table>
            <thead>
                <tr>
                    <th class="text-left">Saat</th>
                    <th>Fənn</th>
                    <th>Dərsin növü</th>
                    <th>Auditoriya</th>
                    <th>Müəllim</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of daySchedule|async">
                    <td>
                        <div class="content">
                            <p>{{data.startTime}}</p>
                        </div>
                    </td>
                    <td>
                        <div class="content">{{data.subjectName}}</div>
                    </td>
                    <td>
                        <div class="content">{{data.lessonTypeName}}</div>
                    </td>
                    <td>
                        <div class="content">{{data.roomName}}</div>
                    </td>
                    <td>
                        <div class="content">{{data.teacherFullname}}</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>