<section class="lesson-appeal">
    <div class="container">
        <div class="lesson-appeal-area radius-20">
            <div class="appeal-title ">
                <h2 class="d-flex">
                    <h2>Semestr:</h2> Payız / Tədris ili: 2019-2020
                </h2>
            </div>
            <div class="lesson-appeal-wrapper responsive-grid">
                <app-lessons></app-lessons>
                <app-main-lessons></app-main-lessons>
            </div>
        </div>
    </div>
</section>