<div class="freelance-work bg-img-default radius-20"
    style="background-image: url('assets/images/lesson-info/lesson-kollok-work-bg.svg');">
    <app-main-title title="SƏRBƏST İŞ" point="10"></app-main-title>
    <div class="freelance-work-items">
        <div class="freelance-work-item">
            <p>25.03.21</p>
            <p>İnformasiya təhlükəsizliyi</p>
            <p><img src="assets/images/icons/check.svg" alt=""></p>
        </div>
        <div class="freelance-work-item">
            <p>25.03.21</p>
            <p>İnformasiya təhlükəsizliyi</p>
            <p><img src="assets/images/icons/check.svg" alt=""></p>
        </div>
        <div class="freelance-work-item">
            <p>25.03.21</p>
            <p>İnformasiya təhlükəsizliyi</p>
            <p><img src="assets/images/icons/check.svg" alt=""></p>
        </div>
    </div>
</div>