<div class="card radius-20" style="background-image: url('assets/images/home/teacher-card-bg.svg');">
    <div class="card-title-area">
        <div class="card-title">
            <h2 class="text-uppercase text-center font-size-16 font-500">FƏNN MÜƏLLİMLƏRİ</h2>
        </div>
    </div>
    <div class="card-body">
        <div *ngFor="let teacher of lessonTeachers" class="card-body-item-2 d-flex align-center column-gap-15">
            <div class="card-body-item-img">
                <img src="assets/images/home/teacher.svg" alt="teacher">
            </div>
            <div class="card-body-item-content">
                <h6>{{teacher.teacherName}}</h6>
                <p>{{teacher.lessonTypeNameAz}}</p>
            </div>
        </div>
    </div>
    <div class="card-footer d-flex align-center flex-end">
        <a href="#">Müəllim anketi</a>
    </div>
</div>