<a (click)="showContent($event)" href="#" class="lesson-card-dropdown-item">
    <div class="lesson-card-item-text d-flex aling-center justify-between">
        <h6>Cəbr - 4 Kredit</h6>
        <img src="assets/images/icons/chevron-down.svg" alt="chevron-down">
    </div>
    <div class="dropdown-item lesson-card-dropdown-item-content">
        <ul>
            <li>
                <h6>Həsənov Firuz Misir- Dosent </h6>
                <input type="radio" name="item-1">
                <label for="item-1" hidden></label>
            </li>
            <li>
                <h6>Həsənov Firuz Misir- Dosent </h6>
                <input type="radio" name="item-2">
                <label for="item-2" hidden></label>
            </li>
            <li>
                <h6>Həsənov Firuz Misir- Dosent </h6>
                <input type="radio" name="item-3">
                <label for="item-3" hidden></label>
            </li>
        </ul>
    </div>
</a>