.transkript-area {
  .transkript-header {
    .transkirpt-header-title {
      max-width: 500px;
      margin-inline: auto;
      text-align: center;
    }
    .transkript-header-content {
      justify-content: space-around;
    }
  }
}
