<section class="transkript-area">
    <div class="transkript-header">
        <div class="transkirpt-header-title">
            <h2>Azərbaycan Dövlət Dəniz Akademiyası</h2>
            <p>Tələbə Xidmətləri</p>
            <h2>Akademik Transkript</h2>
        </div>
        <div class="transkript-header-content d-flex">
            <div class="transkript-header-content-first-col">
                <div class="transkript-header-content-item">ahsghaskjafdjkasdkashdkjaadsas</div>
                <div class="transkript-header-content-item">ahsghaskjafdjkasdkashdkjaadsas</div>
                <div class="transkript-header-content-item">ahsghaskjafdjkasdkashdkjaadsas</div>
                <div class="transkript-header-content-item">ahsghaskjafdjkasdkashdkjaadsas</div>
            </div>
            <div class="transkript-header-content-second-col">
                <div class="transkript-header-content-item">ahsghaskjafdjkasdkashdkjaadsas</div>
                <div class="transkript-header-content-item">ahsghaskjafdjkasdkashdkjaadsas</div>
                <div class="transkript-header-content-item">ahsghaskjafdjkasdkashdkjaadsas</div>
                <div class="transkript-header-content-item">ahsghaskjafdjkasdkashdkjaadsas</div>
            </div>
        </div>
    </div>
    <div class="transkript-body">
        <div class="second-table">
            <h6>Akademik il:1</h6>
            <table>
                <thead>
                    <tr>
                        <th>Sem</th>
                        <th>Ad</th>
                        <th>Kod</th>
                        <th>Kredit sayı</th>
                        <th>Kr</th>
                        <th>Bal</th>
                        <th>Hərf</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>alma</td>
                        <td>alma</td>
                        <td>alma</td>
                        <td>alma</td>
                        <td>alma</td>
                        <td>alma</td>
                        <td>alma</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Kreditlərin sayı</th>
                        <th>ÜOMG</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>İlin sonu:</td>
                        <td></td>
                        <td>45</td>
                        <td>17</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Ümumi:</td>
                        <td></td>
                        <td>45</td>
                        <td>17</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>